* {
  margin: 0;
  padding: 0;
  --patherColorMain: #db2947;
  --patherColorSecondary: #29DBBD;
  --textWhite: #ececec;
  --textBlack: #474747;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* use min-height 100 vh instead of height to allow extended height with large content */
}
body {
  background:linear-gradient(45deg, #f7f7f7, #ffffff, #ffffff);
  /* height: 100vh; */
  /* width: 100vw; */
}
#root {
  height: 100%;
  width: auto;
}
.button-primary {
    border: 0;
    background-color: var(--patherColorMain);
    color: var(--textWhite);
    padding: 7px 25px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 3px;
    filter: drop-shadow(2px 2px 5px rgb(196, 196, 196));
}
.button-secondary {
  border: 0;
  background-color: var(--patherColorSecondary);
  color: var(--textBlack);
  padding: 7px 25px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 3px;
  filter: drop-shadow(2px 2px 5px rgb(196, 196, 196));
}
.button-tertiary {
  border: 0;
  color: var(--textBlack);
  background-color: transparent;
  padding: 7px 25px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 3px;
}
.button-primary:hover, .button-secondary:hover, .button-tertiary:hover {
  cursor: pointer;
}
.page-link-button:hover {
  cursor: pointer;
}
#error-handler-page-container {
  height: 100%;
}
#error-message {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
#create-page-container {
  width: 100%;
}
#prompt-form-container {
width: auto;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 15px;
}
#prompt-form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
#prompt-form-subHeading {
  text-align: center;
  width: 70%;
  padding-top: 10px;
}
#promptFormSubmit {
  flex-direction: column;
  display: flex;
  align-items: baseline;
  width: 100%;
  gap: 15px;
}
.form-input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.prompt-form-rating-button {
    border: 0;
    background-color: var(--patherColorMain);
    color: var(--textWhite);
    padding: 7px 18px;
    font-weight: 500;
    font-size: 13px;
    border-right: 1px solid #ececec;
}
.prompt-multi-input {
  border: transparent;
    background: transparent;
    height: 34px;
    outline: none;
}
.prompt-multi-input-titleCard {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row-reverse;
}
.prompt-icon {
  height: 30px;
  width: auto;
}
option {
  display:table-cell;
  border-top: solid 2px;
  border-bottom: solid 2px;
  border-right: solid 1px;
  border-left: solid 1px;
  padding: 7px;
}


    select option:checked {
        background: linear-gradient(var(--patherColorSecondary), var(--patherColorSecondary));
        background-color: var(--patherColorSecondary) !important; /* for IE */
        color: #000000 !important;
    }